$colorWhite: #fff;
$bgColor: #343a40;
$secColor: #F99323;

.app__header {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background: $bgColor;
    color: $colorWhite;

    .logo {
        a {
            color: $colorWhite;
            font-weight: 700;
            font-size: 50px;
    
            span {
                color: $secColor;
            }
        }
    }

    .cart__icon {
        color: $colorWhite; 
        
        span {
            color: $secColor !important;
            font-size: 80%
        }
    }
}

.cart__count {
    position: relative;
    flex-basis: 50%;
    text-align: right;

    .cheout__btn{
        display: inline-block;
        color: #fff;
        font-size: 42%;
        text-transform: uppercase;
        background: #fd8400;
        padding: 12px 25px;
        font-weight: 700;
        margin-left: 10px;
        transition: .3s;
    }
}
 



.cart__list {
    position: absolute;
    right: 0;
    top: 80px;
    width: 60%;
    background: $colorWhite;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    border: 1px solid #ddd;
    box-shadow: 0px 9px 13px #dfdfdf;

    

    a {
        position: relative;
        margin: 10px 0;
        background: rgba(222, 222, 222, 0.25);
        font-size: 70%;
        font-size: 16px;

        img {
            height: 70px;
            margin-right: 10px;
        }

        span {
            color: #ff3b3b;
            position: absolute;
            right: -12px;
            top: -19px;
            z-index: 1;
            opacity: .6;
            font-size: 20px;


            &:hover{
                opacity: 1;
            }
        }

        &:hover{
            text-decoration: none;
            color: $secColor;
        }
    }
} 


 